* {
  font-family: "Gotham Narrow A", "Gotham Narrow B";
  font-style: normal;
  font-weight: 700;
}

.photo-tile {
  width: 400px;
  display: inline-block;
}

.page-title {
  text-align: center;
}

iframe {
  height: 450px;
}
