body {
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-repeat: repeat-x;
  margin: 0;
  color: #676767;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 3.157rem;
  margin-bottom: 40px;
}

h1 span.title {
  display: none;
}

h2 {
  font-size: 2.369em;
  color: #fe7d3a;
  letter-spacing: 2.5px;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

iframe {
  width: 100%;
  height: 50vw;
  max-height: 505px;
}

a {
  overflow: hidden;
  color: #fe7d3a;
}

a:hover {
  color: #47a3dc;
}

hr {
  color: #47a3dc;
  border: none;
  border-bottom: 5px solid #47a3dc;
}

.headline-wrapper {
  width: 100%;
  text-align: center;
}

.headline-wrapper h2 {
  color: #fe7d3a;
  letter-spacing: 2.5px;
  display: inline-block;
  padding: 9px 17px;
}

#page {
  position: relative;
  overflow: hidden;
}

@keyframes b {
  0% {
    transform: translateZ(0) rotate(0deg);
  }
  100% {
    transform: translateZ(0) rotate(1turn);
  }
}

.block {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #77d3ff;
  box-sizing: border-box;
  border: 30px solid #fffdd4;
}

.block__top {
  height: 1140px;
  overflow: hidden;
}

header {
  color: #ffffff;
}

header h1, header h2 {
  margin: 0;
  color: #ffffff;
}

.logo {
  text-indent: -5000em;
  overflow: hidden;
  background-image: url('http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/uclogo.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: block;
  height: 20vw;
  max-height: 220px;
  margin: 10px auto 30px;
  min-width: 200px;
  width: 100%;
  position: relative;
}

header h2 {
  letter-spacing: 3px;
}

.block__text,
.block__alt {
  background: #fffdd4;
}

.block__alt {
  border: none;
}

.block__center {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mountain-background {
  background-image: url(http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/pattern.png);
  background-size: contain;
  background-repeat: repeat-x;
}

.stars {
  background-image: url(http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/stars.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 330px;
  max-width: 1024px;
  margin: 0 auto;
}

.mountain {
  background-image: url(http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/mountains.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 350px;
  max-width: 700px;
  margin: 0 auto;
}

.contest-intro {
  background-color: #fe7d3a;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 679px;
  bottom: 0;
}

.block__content {
  height: 100%;
  width: 100%;
}

.block__full-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 90%;
  text-align: center;
}

.block__center-content {
  text-align: center;
  padding-top: 180px;
}

.block__center-content,
.block__text-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 80%;
}

.block__curtain {
  width: 80%;
  padding: 30px;
}

.block__text {
  padding-bottom: 30px;
}


.enter-link {
  color: #ffffff;
  text-align: center;
  width: 130px;
  height: 130px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 10px;
  font-size: 1.2rem;
  z-index: 101;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.enter-link .text {
  z-index: 102;
}

.turning {
  z-index: 100;
  display: block;
  width: 150px;
  height: 150px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url('http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/sky.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: b;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.enter-link .foreground {
  z-index: 101;
  display: block;
  width: 150px;
  height: 150px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url('http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/foreground-blank.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-background-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #77d3ff;
}

.hero-background {
  background-image: url(http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/hero.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.hero-midground {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 53vh;
  position: absolute;
  background-image: url('http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/hero-mountains.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
}

.hero-header {
  top: 180px;
  width: 100%;
}

.tent-graphic {
  width: 180px;
  padding-top: 20px;
}

.hero-copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 80%;
}

.hero-copy p, .hero-copy span {
  opacity: 0;
}

.contest-details {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

.curtain {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.curtain__left,
.curtain__right {
  z-index: 3;
  width: 50%;
  height: 100%;
  position: absolute;
  background-size: 100%;
}

.curtain__left {
  background-position: 100% 0;
  left: -48%;
  background-image: url('http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/tent-left.png');
}

.curtain__right {
  background-position: 0 0;
  right: -48%;
  background-image: url('http://assets.ibex.com.s3.amazonaws.com/images/ultimatecampout/graphics/tent-right.png');
}

.block__top span {
  display: block;
  text-transform: uppercase;
  font-size: 1.333em;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: 1px;
}

.entry-form {
  background-color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 180px;
  width: 100%;
  max-width: 420px;
}

.entry-form small {
  display: block;
  text-align: center;
}

.partners {
  text-align: center;
}

.platinum .partner-logo {
  width: 240px;
  height: 150px;
}

.gold .partner-logo {
  width: 100px;
  height: 100px;
}

.partner-logo {
  display: inline-block;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.partner-logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.prizes, .logos {
  background-color: #ffffff;
  border: 30px solid #fffdd4;
}

.prizes a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.prize {
  width: 200px;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.prize-week {
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 35px;
  padding-top: 35px;
}

.prize-week h3 {
  color: #fe7d3a;
  letter-spacing: 1px;
}

.prize-sticker {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  right: 0;
  top: 0;
  color: #fffdd4;
  background-color: #47a3dc;
  transform: rotate(24deg);
}

.prize-sticker span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 32px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

button, input[type="submit"] {
  background-color: #fe7d3a;
  border: none;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

input[type="submit"] {
  height: 52px;
  font-size: 20px;
  letter-spacing: 1px;
}

button:hover,button:active, input[type="submit"]:hover {
  background-color: #a4dfff;
}

.prize-button.active,
.prize-button-all.active {
  background-color: #a4dfff;
}

.prize span {
  text-align: center;
  font-weight: 700;
}

.prize img {
  width: 100%;
}

.form-group {
}

input {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #77d3ff;
}

label {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.slogan {
  text-align: center;
  font-weight: 700;
}

.weeks-desc {
  margin-top: 30px;
}

.video img {
  width: 100%;
}

.video-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background:rgba(255,255,255, 0.9);
  z-index: 10000;
  width: 100%;
  height: 100%;
}

.video-modal__inner {
  margin: 0 auto;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 900px;
  margin-top: 100px;
}

.video-modal.open {
  display: block;
}

.image-wrapper {
  position: relative;
}

.modal-open-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-open,
.modal-open:hover {
  background: none;
}

.modal-open img {
  width: 100px;
}

.modal-close {
  float: right;
  font-size: 20px;
  width: 50px;
}

.photo-tiles {
  text-align: center;
}

.photo-tile {
  width: 250px;
  padding: 10px;
}

.thumbnail {
  display: inline-block;
}

.post-signup {
  height: 360px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
}

.alert {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
  color: #fe7d3a;
}

@media only screen and (max-width : 768px) {
  .block {
    border: none;
  }

  .enter-link {
    position: absolute;
  }

  .logo {
    height: 160px;
  }

  .block__text-content,
  .block__center-content {
    width: 90%;
  }

  .headline-wrapper h2 {
    font-size: 1.777em;
  }

  header h2 {
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  .block__top {
    height: 860px;
  }

  .block__top span {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  header p {
    font-size: 16px;
  }

  .curtain__left, .curtain__right {
    display: none;
  }

  .block__curtain {
    width: 100%;
  }

  .curtain {
    width: 100%;
  }

  .prize {
    width: 43%;
  }

  .video-modal__inner {
    margin-top: 85px;
  }

  .modal-open img {
    width: 60px;
  }

  .prizes, .logos {
    border: none;
  }

  .hero-midground {
    top: 360px;
  }

  .mountain {
    width: 350px;
    height: 170px;
  }

  .contest-intro {
    top: 500px;
  }
}

@media only screen and (max-width : 600px) {
  .block__top {
    height: 910px;
  }

  .prize:nth-child(1) {
    display: block;
  }

  .prize-sticker {
    top: 96px;
  }

  .entry-form {
    margin: 0;
  }
}
